{% extends 'layout.html' %}
{% set title={title:"文章列表"} %}
{% import 'helper.html' as helper %}
{% block main %}
<!--标题-->
<div class="content-title">
    <h3>文章管理</h3>
    <div>
        <ol class="breadcrumb">
            <li>Home</li>
            <li>文章管理</li>
            <li class="active">文章列表</li>
        </ol>
    </div>
</div>
<!--列表-->
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="hidden-xs hidden-sm">编号</th>
            <th class="hidden-xs hidden-sm">ID</th>
            <th>标题</th>
            <th>作者</th>
            <th class="hidden-xs hidden-sm">分类</th>
            <th class="hidden-xs hidden-sm">时间</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        {% for article in models %}
            <tr>
                <th class="hidden-xs hidden-sm">{{loop.index}}</th>
                <th class="hidden-xs hidden-sm">{{ article._id.toString()}}</th>
                <th class="len">{{article.title}}</th>
                <th class="len">{{article.author}}</th>
                <th class="hidden-xs hidden-sm">{{article.category.name}}</th>
                <th class="hidden-xs hidden-sm">{{article.creationTime|date('Y-m-d H:i:s',-8*60)}}</th>
                <th>
                    <a class="btn btn-default btn-xs" href="#" title="查看"><i class="iconfont">&#xe605;</i></a>
                    <a class="btn btn-info btn-xs" href="/admin/article/edit?id={{article._id.toString()}}" title="编辑"><i class="iconfont">&#xe604;</i></a>
                    <a class="btn btn-danger btn-xs del" del="/admin/article/del?id={{article._id.toString()}}" delname="{{article.title}}" title="删除" ><i class="iconfont">&#xe636;</i></a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--分页-->
{{ helper.render_page() }}
{% endblock %}
{% block script%}
<script>
    // 限制长度
    maxStr(".len","..")
    /**
     *  设置大屏和小屏文字长度限制
     * @param setClass 接收需要限制的类名
     * @param behind  需要显示的后缀
     */
    function maxStr(setClass,behind) {
        var arr =[];
        // 规定显示的文字个数
        var maxstr = 20;
        // 计算每一个标题的字数
        var width = $(document).width();
        if(width <= 768){
            // 设置小屏显示个字数
            maxstr = 8;
        }
        $(setClass).each(function(index,element){
            arr.push($(element).text().length)
        })
        $(arr).each(function(index,element){
            if(Number(element) >= maxstr){
                var text = $($(setClass)[index]).text().substring(0,maxstr)
                $($(".len")[index]).text(text +  behind)
            }
        })
    }


</script>
{% endblock %}