{% extends 'layout.html' %}
{% set title={title:"分类列表"} %}
{% import 'helper.html' as helper %}
{% block main %}
<!--标题-->
<div class="content-title">
    <h3>分类管理</h3>
    <div>
        <ol class="breadcrumb">
            <li>Home</li>
            <li>分类管理</li>
            <li class="active">分类列表</li>
        </ol>
    </div>
</div>
<!--列表-->
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="hidden-xs hidden-sm">序号</th>
            <th>编号</th>
            <th class="hidden-xs hidden-sm">ID</th>
            <th>分类</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        {% for category in models %}
            <tr>
                <th class="hidden-xs hidden-sm">{{loop.index}}</th>
                <th>{{category.number}}</th>
                <th class="hidden-xs hidden-sm">{{category._id.toString()}}</th>
                <th>{{category.name}}</th>
                <th>
                    <a class="btn btn-info btn-xs" href="/admin/category/edit?id={{category._id.toString()}}" title="编辑"><i class="iconfont">&#xe604;</i></a>
                    <a class="btn btn-danger btn-xs del" del="/admin/category/del?id={{category._id.toString()}}" delname="{{category.name}}" title="删除" ><i class="iconfont">&#xe636;</i></a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--分页-->
{{ helper.render_page() }}
{% endblock %}