{% extends 'layout.html' %}
{% set title={title:"修改分类"} %}
{% block main %}
<!--标题-->
<div class="content-title">
    <h3>分类管理</h3>
    <div>
        <ol class="breadcrumb">
            <li>Home</li>
            <li>分类管理</li>
            <li class="active">修改-{{category.name}}</li>
        </ol>
    </div>
</div>
<!--列表-->
<div>
    <!--这里不要写提交地址，那样后台就能直接获取到id-->
    <form class="form-horizontal" method="post" id="categorForm">
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-md-3 ">
                    <label for="number" class="control-label">排序编号:</label>
                </div>
                <div class="col-md-9 error-p">
                    <input type="text" class="form-control" name="number" id="number" value="{{category.number}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 ">
                    <label for="categoryname" class="control-label">分类名称:</label>
                </div>
                <div class="col-md-9 error-p">
                    <input type="text" class="form-control" name="categoryname" id="categoryname" value="{{category.name}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <input type="submit" class="btn btn-info" value="提交">
                    <a href="/admin/category/list" class="btn btn-default" >返回</a>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}