{% extends 'layout.html' %}
{% set title={title:"添加分类"} %}
{% block main %}
<!--标题-->
<div class="content-title">
    <h3>分类管理</h3>
    <div>
        <ol class="breadcrumb">
            <li>Home</li>
            <li>分类管理</li>
            <li class="active">添加分类</li>
        </ol>
    </div>
</div>
<!--列表-->
<div>
    <form class="form-horizontal" method="post" action="/admin/category/add" id="categorForm">
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-md-3 ">
                    <label for="number" class="control-label">排序编号:</label>
                </div>
                <div class="col-md-9 error-p">
                    <input type="text" class="form-control" name="number" id="number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 ">
                    <label for="categoryname" class="control-label">分类名称:</label>
                </div>
                <div class="col-md-9 error-p">
                    <input type="text" class="form-control" name="categoryname" id="categoryname">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-3">
                    <input type="submit" class="btn btn-default">
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}