{% extends 'layout.html' %}
{% set title={title:"分类列表"} %}
{% block main %}
<!--标题-->
<div class="content-title">
    <h3>分类管理</h3>
    <div>
        <ol class="breadcrumb">
            <li>Home</li>
            <li>分类管理</li>
            <li class="active">分类列表</li>
        </ol>
    </div>
</div>
<!--列表-->
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="hidden-xs hidden-sm">序号</th>
            <th class="hidden-xs hidden-sm">编号</th>
            <th class="hidden-xs hidden-sm">ID</th>
            <th>分类</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categorys %}
            <tr>
                <th class="hidden-xs hidden-sm">{{loop.index}}</th>
                <th class="hidden-xs hidden-sm">{{category.number}}</th>
                <th class="hidden-xs hidden-sm">{{category._id.toString()}}</th>
                <th>{{category.category}}</th>
                <th>
                    <a class="btn btn-info btn-xs" href="#" title="编辑"><i class="iconfont">&#xe604;</i></a>
                    <a class="btn btn-danger btn-xs" href="#" title="删除" ><i class="iconfont">&#xe636;</i></a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--分页-->
<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}