{% extends 'layout.html' %}
{% import 'helper.html' as helper %}
{% set title={title:"用户列表"} %}
{% block main %}
<!--标题-->
<div class="content-title">
    <h3>用户管理</h3>
    <div>
        <ol class="breadcrumb">
            <li>Home</li>
            <li>用户管理</li>
            <li class="active">用户列表</li>
        </ol>
    </div>
</div>
<!--列表-->
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="hidden-xs ">序号</th>
            <th class="hidden-xs">ID</th>
            <th>用户名</th>
            <th class="hidden-xs hidden-sm">邮箱</th>
            <th class="hidden-xs hidden-sm">注册时间</th>
            <th>管理员</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        {% for user in models %}
            <tr>
                <th class="hidden-xs ">{{loop.index}}</th>
                <th class="hidden-xs">{{user._id.toString()}}</th>
                <th>{{user.username}}</th>
                <th class="hidden-xs hidden-sm">{{user.email}}</th>
                <th class="hidden-xs hidden-sm">{{user.regTime|date('Y-m-d H:i:s',-8*60)}}</th>
                <th>
                    {% if user.isAdmin %}
                        <span class="label label-danger">&nbsp;是&nbsp;</span>
                    {% else %}
                        <span class="label label-info">&nbsp;否&nbsp;</span>
                    {% endif %}
                </th>
                <th>
                    <a class="btn btn-info btn-xs" href="/admin/user/edit?id={{user._id.toString()}}" title="编辑"><i class="iconfont">&#xe604;</i></a>
                    <a class="btn btn-danger btn-xs del" del="/admin/user/del?id={{user._id.toString()}}" delname="{{user.username}}"  title="删除" ><i class="iconfont">&#xe636;</i></a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--分页-->
<!--默认不给就是当前目录-->
{{ helper.render_page() }}
{% endblock %}