{% extends 'layout.html' %}
{% set title={title:"首页"} %}
{% block main %}
<div class="container">
    <div class="row main">
        <!--正文左边-->
        <div class="col-md-12">
            <div class="content main-title">
                <h3 class="len">{{article.title}}</h3>
                <div class="article">
                    <div class="article-top">
                        <i class="iconfont">&#xe615;</i>
                        <span class="time" title="发表时间">{{article.creationTime|date('Y-m-d H:i:s',-8*60)}}</span>
                        <i class="iconfont">&#xe63b;</i>
                        <span title="浏览次数">{{article.count}}</span>
                    </div>
                    <div class="article-text article-content">{{article.content | safe }}</div>
                    <div class="text-right article-bottom">
                        <a href="/">返回首页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}