{% macro main_page(url) %}
{% if sum > 1 %}
<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!--上一页-->
            {% if page == 1 %}
            <li class="disabled">
                <a href="javascript:;" aria-label="Next">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{{url}}?category={{categoryid}}&page={{page - 1}}" aria-label="Next">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            {% endif %}
            <!--中间部分-->
            {% for lpage in pages %}
            <li {% if lpage == page %}class="active" {% endif %}><a href="{{url}}?category={{categoryid}}&page={{lpage}}" >{{lpage}}</a></li>
            {% endfor %}
            <!--下一页-->
            {% if page >= sum %}
                <li class="disabled">
                    <a href="javascript:;" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{url}}?category={{categoryid}}&page={{page + 1}}" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{% endmacro %}