{% extends 'layout.html' %}
{% set title={title:"首页"} %}

{% block main %}
<div class="container">
    <div class="row">
        <!--大屏不显示部分-->
        <div class="col-md-12 hidden-lg">
            <input type="text" class="search form-control" placeholder="输入关键字">
        </div>
        <div class="col-md-12 hidden-lg">
            <div class="catrgory main-title">
                <h3>文章分类</h3>
                <div>
                    {% for category in categorys %}
                        <a href="#">{{category.category}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row main">
        <!--正文左边-->
        <div class="col-md-12 col-lg-9">
            <div></div>
            <div class="content main-title">
            <h3><a href="#">标题测试</a></h3>
            <div class="article">
                <div class="article-top">
                    <i class="iconfont">&#xe615;</i>
                    <span class="time" title="发表时间">2016-4-9</span>
                    <i class="iconfont">&#xe63b;</i>
                    <span title="浏览次数">20</span>
                    <span class="article-tar"><a href="#">Python</a></span>
                </div>
                <div class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus earum facilis fugiat ipsa
                    itaque possimus recusandae rem saepe ut voluptatum! Amet consequatur hic, obcaecati sint
                    temporibus voluptas? Amet, deserunt, velit!</div>
            </div>
        </div>
        </div>
        <!--正文右边-->
        <div class="col-lg-3 visible-lg">
            <!--分类部分-->
            <div class="sidebar catrgory main-title">
                <h3>文章分类</h3>
                <div>
                    {% for category in categorys %}
                        <a href="#">{{category.category}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar main-title">
                <h3>最新文章</h3>
                <div class="new-article">
                    <ul>
                        <li><a href="#">测试</a></li>
                        <li><a href="#">测试</a></li>
                        <li><a href="#">测试</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}