<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{title.title}} - 一个知识积累平台</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/font/iconfont.css">
    <link rel="stylesheet" href="/public/js/highlight/styles/github.css">

    {% block style %}{% endblock %}
</head>
<body id="body">
<!--导航开始-->
<nav class="navbar navbar-fixed-top mynav" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button id="indexBar" type="button" class="navbar-toggle collapsed mynav-icon" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar color"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SHEYUDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!--导航左边-->
            <ul class="nav navbar-nav">
                <li><a href="/about">ABOUT</a></li>
            </ul>
            <!--导航右边-->
            <ul class="nav navbar-nav navbar-right" >
                {% if userInfo._id %}
                {% if userInfo.isAdmin %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">管理员:{{userInfo.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin">进入后台</a></li>
                        <li><a href="/out">退出登陆</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">欢迎:{{userInfo.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/out">退出登陆</a></li>
                    </ul>
                </li>
                {% endif %}
                {% else %}
                <li><a href="/login">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--导航结束-->
<!--中间部分-->
<div class="head" id="head">
    <div class="container">
        <div class="row head-row">
            <div class="col-lg-12 text-center">
                <h2 class="h-fontsize">“取”是一种本事，“舍”是一门哲学。没有能力的人取不足；没有通悟的人，舍不得。</h2>
            </div>
        </div>
    </div>
</div>
{% block main %}
{% endblock %}
<!--底部-->
<div class="container">
    <div class="row">
        <div class="col-md-12 foot">
            <ul>
                <li></li>
                <li><a href="/">舍与得</a><span> Copyright&copy;2017</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="foot-right">
    <i class="iconfont" id="top" title="返回顶部">&#xe619;</i>
</div>
<!-- JS部分-->
<script src="/public/js/jquery.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/makisu.min.js"></script>
<script src="/public/js/script.js"></script>
<script src="/public/js/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>